.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

.top-navbar {
    background-color: #3457D5;
    color: #fff;
    padding: 19px;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: width 0.3s ease, left 0.3s ease;
}

.top-navbar .toggle-btn {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

.top-navbar .user-info {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1px;
}

.top-navbar .dropdown .dropdown-toggle {
    color: #fff;
    background-color: #4B6FE3;
    border: none;
    padding: 10px 0px 10px 0px;
    height: 100%;
    line-height: 1;
    font-size: 16px;
    box-sizing: border-box;
    width: 250px;
    margin-right:50px;
}

.top-navbar .dropdown .dropdown-menu {
    background-color: #3457D5;
    border: none;
    width: 200px;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.top-navbar .dropdown .dropdown-menu a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.top-navbar .dropdown .dropdown-menu a:hover {
    background-color: #4B6FE3;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }
    .top-navbar {
        width: calc(100% - 200px);
        left: 200px;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 200px;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    .sidebar.open {
        transform: translateX(0);
    }
    .top-navbar {
        width: 100%;
        left: 0;
    }
    .main-container {
        margin-left: 0;
    }
    .top-navbar .toggle-btn {
        display: block;
    }
    .top-navbar .dropdown .dropdown-toggle {
        font-size: 14px;
        padding: 8px 10px;
    }
    .top-navbar .dropdown .dropdown-menu {
        width: 100%;
        right: 0;
    }
}
