<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USER HOME PAGE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/userNavbar.css}">
    <link rel="stylesheet" th:href="@{/css/userSidebar.css}">
    <link rel="stylesheet" th:href="@{/css/home_user.css}">

</head>

<body>
<div th:replace="~{fragments/user_sidebar :: userSidebar}"></div>
<div th:replace="~{fragments/user_navbar :: userNavbar}"></div>

<div class="main-content">
    <p>Welcome, <span th:text="${#authentication.principal.username}"></span>!</p>
</div>

<script th:src="@{/js/home_user.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>